body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin: 0 2%;
    height: 100px;
    background-color: #888;
    border: 2px solid #333;

}

h1 {
    color: #fff;
    margin-left: 20px;
}

em {
    border: 1px solid #000;
    border-radius: 50%;
}

ul {
    display: flex;
    list-style-type: none;

    margin: 0 20px;
    padding: 0;
}

ul li {

    margin: 0 10px;
}

.logo {
    text-decoration: none;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: bisque;
}

ul li a:hover {
    color: #fff;
}

#about-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.about {
    width: 80%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    ;
    text-align: center;
}

.about h2 {
    display: block;
    background-color: gray;
}

.about h3 {
    display: inline;
    background-color: green;
}

.about p {
    display: inline;
    background-color: blue;
    color: #fff;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    width: 100%;
    height: 50px;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

#burger {
    margin-right: 10px;
    cursor: pointer;

}

#burger div {
    width: 35px;
    height: 5px;
    background-color: bisque;
    margin: 6px 0;
}


.about-nav {
    position: absolute;
    right: 14px;
    width: 150px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888;
    border: 2px solid #000;
}

.non-display {
    display: none;
}

#about-nav ul {
    display: flex;
    flex-direction: column;


}

#about-nav ul li {
    margin: 20px 0;
}