body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: green;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#box-wrapper {
    display: flex;
    padding: 0 20%;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hex-color {
    background-color: #333;

}

.naming-color {
    background-color: red;

}

.rgb-color {
    background-color: rgb(90, 0, 20);
}

.rgba-color {
    background-color: rgba(90, 0, 20, 0.4);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container p {
    color: red;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

button {
    border-radius: 50px;
}

button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

#con-div .content::first-letter {
    color: orange;
    font-weight: bolder;
}

.fa-angular {
    font-size: 50px;
    color: red;
}

.fa-arrow-up {
    font-size: 60px;
    color: green;
}

.fa-arrow-up:hover {
    color: red;
    cursor: pointer;
}

.font-aws::first-letter {
    color: blue;
    font-weight: bolder;
}