body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

#index-body {}

#background-image {
    position: absolute;
    background-image: url(../images/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#justit {
    color: #fff;
    font-size: 48px;
    text-shadow: 2px 2px #888;
    border: 1px solid #fff;
}

#icons-img {
    width: 200px;
}

.header-div {
    /* background-color: #333; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;

}

/* .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
} */

.index-p {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #333; */

}

.index-p p {
    width: 400px;
    text-align: center;
    color: #fff;
}

#links-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#links-wrapper a {
    width: 150px;
    height: 30px;
    margin: 30px 20px;
}

.btn {
    width: 100%;
    height: 100%;

    cursor: pointer;
    background-color: #333;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;

}

.btn:hover {
    background-color: #fff;
    color: #000;
}

#semantic-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    background-color: #333;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 10px;

}

#footer {
    /* position: absolute; */

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;

    height: 50px;

    width: 100vw;
    color: #fff;

}

@media only screen and (max-width: 600px) {
    #footer {
        margin-bottom: 40px;
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

#form-div {
    margin: 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: pink;
}

#form {
    display: block;
    padding: 50px;


}

.submit-div {
    margin-top: 20px;
    text-align: center;

}

.submit-div input {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
}

.submit-div input:hover {
    background-color: #fff;
    color: #000;
}