body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* index styles */

#header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    background-color: black;

}

#justit {

    font-size: 48px;
    text-shadow: 2px 2px #888;
    border: 1px solid #fff;
}

.index-p p {
    width: 400px;
    text-align: center;
    font-weight: 100;
}



#work-wrapper {
    width: 100vw;

    background-color: #fff;

}

.work-height {
    height: 300px;
}

/* #link-wrapper {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

} */

#mobile-list {
    display: none;
}




.buttons-wrapper {
    border: 1px solid #000;
    width: 80%;
    height: 70%;
    background-color: #000;
    border-radius: 10px;
    border: 1px solid #d01d9b;

}

.buttons-wrapper ul {
    width: 100%;
    height: 90%;
    flex-flow: column;
    padding-inline-start: 0;
    list-style-type: none;
    flex-wrap: wrap;


}

.buttons-wrapper ul li {
    margin: 10px 0;
}


.n-disp {
    display: none;
}

.ul-wrapper {
    background-color: #000;
    border-radius: 7px;
    width: 600px;

    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.ul-height {
    height: 200px;
}

.not-show {

    opacity: 0;
    visibility: hidden;

}

.no-size {

    width: 0;
    transition: 1s ease-out;
}

.no-size2 {

    transition: 1s ease-out;
}

.logo-img {

    width: 150px;
    height: 150px;
    margin: 0 50px;
    cursor: pointer;

}

#html-logo:hover,
#css-logo:hover,
#js-logo:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
}



.non-visible {
    opacity: 0;

}



.logo-wrapper {
    width: 30%;
    height: 100%;
    position: relative;
}


#links-wrapper a {
    width: 150px;
    height: 30px;
    margin: 30px 20px;
}

.btn {
    width: 150px;
    height: 40px;
    margin: 3px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #333;
    border: 1px solid #d01d9b;
    color: #fff;
    font-weight: bold;

}

.btn:hover {
    background-color: #fff;
    color: #333;

}

#other-projects {
    width: 100%;
    height: 180px;

    flex-direction: column;
    background-color: #000;
    color: #fff;
}

#olinks-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #fff;
}

#h3-div {
    /* margin-bottom: 30px; */
    z-index: 9;
    height: 20px;
}

#h3-div h3 {
    border: 1px solid #d01d9b;
    border-radius: 7px;
    padding: 4px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

#h3-div h3:hover {
    transform: scale(1.1);
}

#line {
    position: absolute;
    width: 300px;
    height: 30px;
    border-style: solid solid none solid;
    border-color: #d01d9b;
    z-index: 3;
    background-color: #000;
    margin-top: 20px;

}

.line-extra {
    transform: scaleX(0);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.line-extra-slow {
    transform: scaleX(0);
    transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.line-extra2 {
    transform: scaleX(1);
    visibility: visible;
}

#v-line {
    position: absolute;

    height: 50px;
    border: 1px solid #d01d9b;
    z-index: 3;
}

#extra {
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    margin-top: 30px;
    z-index: 6;
}

#extra ul {
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    padding: 0;

}

#extra ul li {
    width: 100px;
    height: 20px;
    border: 1px solid #d01d9b;
    border-radius: 7px;
    padding: 4px;
    color: #fff;
    background-color: #000;

    text-align: center;
    z-index: 4;
    color: #fff;
}

#extra ul li:hover {
    transform: scale(1.1);


}

footer {
    background-color: #111;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50px;
    color: #fff;
    font-weight: 100;
}

.btn-hide {
    animation: hide 1s ease-out forwards;
}

@keyframes hide {
    0% {
        opacity: 100%;
    }


    100% {
        opacity: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0%;
    }


    100% {
        opacity: 100%;
    }
}

.show {
    animation: show 1s ease-in-out forwards;
}

.hide {
    animation: hide 1s ease-in-out forwards;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #000;
    }



    #work-wrapper {
        width: 100%;

        background-color: #000;
        flex-direction: column;
    }

    .work-height {
        height: 200px;
    }

    #html-logo,
    #css-logo,
    #js-logo {
        display: none;
    }

    #m-html,
    #m-css,
    #m-js {
        cursor: pointer;
    }

    #mobile-list {
        width: 80vw;
        display: flex;
        justify-content: space-between;
    }

    #mobile-list h3 {
        width: 30%;
        padding: 10px 0;
        background-color: #000;
        color: #fff;
        text-align: center;
        border: 1px solid #d01d9b;
        border-radius: 7px;
    }

    .ul-wrapper {
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .ul-height {
        height: 100px;
    }

    .new-height {
        height: 400px;
    }

    .new-height2 {
        height: 250px;
    }

    .no-display {
        display: none;
    }

    #other-projects {
        height: 200px;
    }

    footer {
        position: relative;
    }
}